@(assignmentNumber : Int, locked : Boolean)
<div class="col-lg-4 assignment-preview" >
    @if(!locked){
    <a href="@controllers.routes.MainController.serveAssignment(assignmentNumber)">
        <div class="assignment-text">
            Assignment @assignmentNumber
        </div>

        <div class="star-rating">
            <i class="fa fa-star bronze"></i>
            <i class="fa fa-star silver"></i>
            <i class="fa fa-star gold"></i>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: @{Math.random()*100}%">
                <span class="sr-only">40% done</span>
            </div>
        </div>

    </a>
    }else{
        <div class="locked-assignment">
            <i class="fa fa-lock"></i>
            <p>Locked</p>
        </div>
    }




</div>