<div class="editor-toolbar">
    <i class="fa fa-fw fa-cog toolbar-icon dropdown-toggle" id="ae-settings" data-toggle="dropdown"></i>
    <i class="fa fa-fw fa-expand toolbar-icon" id="ae-toggle-fullscreen"></i>

    <ul class="dropdown-menu" role="menu">
        <li class="ae-theme-settings" id="eclipse"><a>Eclipse theme</a></li>
        <li class="ae-theme-settings" id="github"><a>GitHub theme</a></li>
        <li class="ae-theme-settings" id="xcode"><a>Xcode theme</a></li>
        <li class="ae-theme-settings" id="dreamweaver"><a>Dreamweaver theme</a></li>
        <li class="ae-theme-settings" id="textmate"><a>TextMate theme</a></li>
    </ul>

</div>