<div class="achievement-wrapper">
    <div class="achievement earned">Test</div>
</div>

<div class="achievement-wrapper">
    <div class="achievement earned">Test</div>
</div>

<div class="achievement-wrapper">
    <div class="achievement">Test</div>
</div>

<div class="achievement-wrapper">
    <div class="achievement earned">Test</div>
</div>

<div class="achievement-wrapper">
    <div class="achievement">Test</div>
</div>

<div class="achievement-wrapper">
    <div class="achievement earned">Test</div>
</div>

<div class="achievement-wrapper">
    <div class="achievement">Test</div>
</div>

<div class="achievement-wrapper">
    <div class="achievement">Test</div>
</div>