<div class="achievement-wrapper">
    <div class="achievement earned"><img src="src"></div>
</div>

<div class="achievement-wrapper">
    <div class="achievement earned"><img src="src"></div>
</div>

<div class="achievement-wrapper">
    <div class="achievement earned"><img src="src"></div>
</div>

<div class="achievement-wrapper">
    <div class="achievement earned"><img src="src"></div>
</div>

<div class="achievement-wrapper">
    <div class="achievement"><img src="src"></div>
</div>

<div class="achievement-wrapper">
    <div class="achievement"><img src="src"></div>
</div>

<div class="achievement-wrapper">
    <div class="achievement"><img src="src"></div>
</div>

<div class="achievement-wrapper">
    <div class="achievement earned"><img src="src"></div>
</div>