@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()

<a href="#" class="clearfix"></a>

@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()

<a href="#" class="clearfix"></a>

@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()