@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()

<a href="#" class="cm-clearfix"></a>

@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()

<a href="#" class="cm-clearfix"></a>

@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()

<a href="#" class="cm-clearfix"></a>

@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()
@views.html.studentProgress.problemProgressBox()

<a href="#" class="cm-clearfix"></a>