@main("My progress"){
    <div class="col-lg-12">
        <h1 class="well">Your progress</h1>
    </div>

    <div class="col-lg-8 student-assignment-progress">
        <div class="row">
            <div class="col-lg-6">
                <h1>Assignments</h1>
                @views.html.studentProgress.assignmentsProgress()
            </div>
            <div class="col-lg-6">
                <h1>Problems</h1>
                @views.html.studentProgress.problemProgress()
            </div>
        </div>

    </div>

    <div class="col-lg-4 student-achievements">
        <h1>Achievements</h1>
        @views.html.studentProgress.achievements()
    </div>

}