@main("My progress"){
    <div class="col-lg-12">
        <h1 class="well">Your progress</h1>
    </div>

    <div class="col-lg-8 student-assignment-progress">
        <div class="row">
            <div class="col-lg-6">
                @views.html.studentProgress.assignmentsProgress()
            </div>
            <div class="col-lg-6">
                <div class="problem-progress-box earned" style="width: calc(12.5% - 5px)">1A</div>
                <div class="problem-progress-box earned" style="width: calc(12.5% - 5px)">1B</div>
                <div class="problem-progress-box " style="width: calc(12.5% - 5px)">1C</div>
                <div class="problem-progress-box earned" style="width: calc(12.5% - 5px)">1D</div>
                <div class="problem-progress-box" style="width: calc(25% - 5px)">1E</div>
                <div class="problem-progress-box earned" style="width: calc(25% - 5px)">1F</div>

                <div class="clearfix"></div>

                <div class="problem-progress-box earned" style="width: calc(12.5% - 5px)">2A</div>
                <div class="problem-progress-box earned" style="width: calc(12.5% - 5px)">2B</div>
                <div class="problem-progress-box earned" style="width: calc(25% - 5px)">2C</div>
                <div class="problem-progress-box " style="width: calc(12.5% - 5px)">2D</div>

                <div class="clearfix"></div>

                <div class="problem-progress-box earned" style="width: calc(25% - 5px)">3A</div>
                <div class="problem-progress-box " style="width: calc(25% - 5px)">3B</div>
                <div class="problem-progress-box " style="width: calc(25% - 5px)">3C</div>
                <div class="problem-progress-box earned" style="width: calc(25% - 5px)">3D</div>


            </div>
        </div>

    </div>

    <div class="col-lg-4 student-achievements">
        @views.html.studentProgress.achievements()
    </div>

}