<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eagle -->
      <package
            uri="http://ntnu.no/eagle"
            class="no.ntnu.assignmentsystem.eagle.EaglePackage"
            genModel="model/eagle.genmodel"/>
   </extension>

</plugin>
