@import "../libs/lesshat-prefixed";
@import "../custom-mixins";

.collapsing-header {
  cursor: pointer;
  font-size: 22px;
  i{
    color: grey;
  }
}

@problem-size: 65px;

//problem-styling
.problem-box {
  position: relative;
  float: left;
  height: @problem-size;
  width: @problem-size;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: 300;
  color: black;
  background-color: @gv-assignment-color;
  .lh-border-radius(@gv-border-radius);
  .lh-display(flex);
  .lh-align-items(center);
  .lh-justify-content(center);
  .lh-transition(background-color, 500ms);

  &:hover {
    color: black;
    background-color: @gv-assignment-hover-color;
    text-decoration: none;
    .lh-transition(background-color, 500ms);
  }

  &.active-problem {
    background-color: @gv-assignment-hover-color;
    border: 2px solid @gv-assignment-border-color;
  }

  .progress{
    position: absolute;
    height: 12%;
    margin: 0;
    width: 84%;
    left: 8%;
    bottom: 8%;
  }

}

