@import "libs/lesshat-prefixed";
@import "libs/boostrap-ms";
@import "assignment/assignment";
@import "studentProgress/student-progress";

body {
  padding-top: 70px;
  margin: 0px auto 15px auto;
  max-width: 1170px;
}

.container {
  width: 100%;
}

.navbar-wrapper{
  padding: 0 15px;
}

.navbar {
  li a{
    font-family: "Open Sans";
    font-size: 16px;
  }
  .container {
    max-width: 1170px;
  }
  .lh-box-shadow(0px 2px 4px rgba(0,0,0,0.2));
}

h1, h2, h3, h4, h5{
  font-family: "Open Sans";
  font-weight: 300;
  margin-top: 0;
}

h1{ font-size: 28px; }
h2{ font-size: 24px; }
h3{ font-size: 20px; }
h4{ font-size: 18px; }
h5{ font-size: 16px; }
