@import "../libs/lesshat-prefixed";
@import "../custom-mixins";

@progress-row-height: 30px;
@row-spacing: 20px;

.student-assignment-progress {

  .progress {
    margin-bottom: @row-spacing;
    height: @progress-row-height;
  }

  .cm-starred-progress-bar(-26px);

  .titled-progress-bar {
    display: block;
    position: relative;
    color: black;
    cursor: pointer;
    h3 {
      position: absolute;
      margin: 0;
      top: 6px;
      left: 10px;
      font-size: 16px;
      color: black;
      font-weight: 400;
    }
  }// end titled progress bar

  .problem-progress-box-wrapper{
    padding-right: 5px;
    float: left;
    margin-bottom: @row-spacing;
  }
  .problem-progress-box{
    height: @progress-row-height;
    line-height: @progress-row-height;
    color: black;
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: @gv-background-gray;
    .cm-unearned-inset;
    .lh-border-radius(@gv-border-radius);
    text-align: center;
    &.earned{
      background-color: @gv-success-color;
      .lh-box-shadow(none);
    }
    &:hover{
      text-decoration: none;
    }
  }//end problem progress box

}//end student-assignment-progress

.student-achievements {

}