@import "../libs/lesshat-prefixed";

.assignment-leaderboard {
  background-color: #eee;
  padding: 15px;
  .lh-border-radius(5px);
  h1{
    font-size: 20px;
    text-align: center;
  }

.star-rating {
    height: 70px;
    font-size: 50px;
    .fa-star { margin-right: -23px; }
    .gold { right: 50%; }
    .silver { right: 27%; top: 15px; }
    .bronze { right: 73%; top: 15px }

    .glow{
      margin-right: -23px;
      height: 50px;
      width: 46px;
      .lh-border-radius(25px);
    }

  }

}