
.assignment-preview {

  a{
    padding: 10px;
    display: block;
    height: 100px;
    background-color: #f6f6fa;
    margin-bottom: 15px;
    text-decoration: none;
  }

  a:hover{
    background-color: #eff1fa;
  }

}
