.star-rating {
  position: relative;
  .fa-star {
    position: absolute;
    text-shadow:  0px 1px 0px #000,
      0px -1px 0px #000,
      1px 0px 0px #000,
     -1px 0px 0px #000,
      0px 1px 1px rgba(0,0,0,0.2),
      0px -1px 1px rgba(0,0,0,0.2),
      1px 0px 1px rgba(0,0,0,0.2),
     -1px 0px 1px rgba(0,0,0,0.2);
  }
}

.gold {
  color: #ffd700;
}

.silver {
  color: #c0c0c0;
}

.bronze {
  color: #d58837;
}